<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hitachi_tstv.mist.it.tiresmanagement">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_tires"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hitachi_tstv.mist.it.tiresmanagement.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hitachi_tstv.mist.it.tiresmanagement.CheckListActivity" />
        <activity android:name="com.hitachi_tstv.mist.it.tiresmanagement.CheckList2Activity" />
        <activity android:name="com.hitachi_tstv.mist.it.tiresmanagement.itemVehicleActivity" />
        <activity android:name="com.hitachi_tstv.mist.it.tiresmanagement.AddCheckListActivity"></activity>



        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="cf8687190c8b0f12730f7b2c97a1e5ae49aefdb9" />
    </application>

</manifest>